* {
   padding: 0;
   margin: 0;
}

body {
   background-color: black;
}

.main {
   background-image: url(netflix\ background.jpg);
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 88vh;
   position: relative;
}

.main .box {
   height: 88vh;
   width: 100%;
   opacity: 0.66;
   position: absolute;
   top: 0;
   background-color: black;
}

nav {
   max-width: 90vw;
   justify-content: space-between;
   margin: auto;
   display: flex;
   align-items: center;
   height: 62px;
   padding: 0.5%;
}

nav img {
   color: red;
   width: 114px;
   position: relative;
   z-index: 10;
}

nav button {
   position: relative;
   z-index: 10;
}

.hero {
   height: calc(100% - 62px);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
   position: relative;
   font-family: sans-serif;
   gap: 10px;
   padding: 0 30px;
}

.hero> :first-child {
   font-weight: 900;
   font-size: 32px;
   text-align: center;
}

.hero> :nth-child(2) {
   font-weight: 500;
   font-size: 18px;
   text-align: center;
}

.hero> :nth-child(3) {
   filter: blur(23px);
   height: 30px;
   text-align: center;
}

.hero> :nth-child(4) {
   font-size: 20px;
   text-align: center;

}

@media screen and (min-width: 768px) {
   nav {
      max-width: 85vw;
   }

   .hero> :first-child {
      font-size: 48px;
   }

   .hero> :nth-child(2) {
      font-size: 25px;
   }
}

.separation {
   height: 7px;
   background-color: rgb(94, 92, 92);
   margin-top: -13px;
}

.btn {
   padding: 3px 8px;
   font-weight: 400;
   background-color: rgb(15 14 14);
   color: white;
   cursor: pointer;
}

.btn-red {
   background-color: red;
   color: white;
   padding: 3px 24px;
   font-size: 20px;
   border-radius: 4px;

}

.main input {
   padding: 3px 24px;
   color: white;
   font-size: 20px;
   border-radius: 4px;
   background-color: rgba(23, 23, 23, 0.2);
}

.btn-red-sm {
   background-color: red;
   color: white;

}

h3 {
   color: white;
   margin-left: 50px;
   padding: 40px 20px 40px 5%;
   font-size: 25px;
}

.first {
   display: flex;
   gap: 15px;
   margin: 0 5%;
   width: 90vw;
   overflow-x: scroll;
   position: relative;
   padding-bottom: 20px;
}

.item {
   flex-shrink: 0;
   width: 200px;
   height: auto;
   border: 2px solid black;
   font-size: 0;
   min-width: 250px;
   cursor: pointer;
   color: white;
   position: relative;
   overflow: hidden;
   font-size: initial;
   border: none;


}

.ranking-number {
   position: absolute;
   left: 1px;
   bottom: -15px;
   font-size: 7vw;
   font-weight: 900;
   color: rgba(255, 255, 255, 0.9);
   z-index: 5;
   font-family: sans-serif;
   line-height: 1.5;
   margin-left: 10px;
}

   @media screen and (min-width: 768px) {
      .ranking-number {
         font-size: 120px;
         left: -10px;
         bottom: -25px;
      }
   }

   .item img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
      border-radius: 4px;
   }

   .second {
      display: flex;
      justify-content: center;
      margin: 20px auto;
      gap: 20px;
      padding: 0 5%;
      position: relative;
      overflow-x: auto;
   }

   .reason {
      border-radius: 25px;
      width: 250px;
      max-width: 350px;
      height: auto;
      border: 0.5px solid #1f1527;
      box-sizing: border-box;
      flex-shrink: 0;
      background-color: #1f1527;
      color: white;
   }

   @media screen and (min-width: 1024px) {

      .second {
         flex-wrap: nowrap;
         justify-content: space-between;
         max-width: 90vw;
         margin-left: auto;
         margin-right: auto;
      }


      .reason {
         width: 23%;
         max-width: 300px;
      }
   }



   @media screen and (max-width: 1023px) {
      .second {
         flex-wrap: wrap;
         justify-content: center;
      }

      .reason {
         width: 45%;
      }
   }

   .second div {
      padding: 10px;
      justify-content: center;
      font-family: sans-serif
   }

   .bold {
      font-weight: 500;
      font-size: 21px;
   }

   .bold1 {
      font-weight: 200;
      font-size: 15px;
      margin-top: 5px;
      color: rgb(194, 189, 189);
   }

   .reason img {
      width: 80px;
      margin: 10px;
      display: flex;
      align-content: end;
   }

   .faq h2 {
      text-align: center;
      font-size: 48px;
   }

   .faq {
      background-color: black;
      color: white;
      padding: 34px;
      font-size: 24px;
   }

   .faqbox:hover {

      background-color: rgb(92, 89, 89);
   }

   .faqbox {
      display: flex;
      justify-content: space-between;
      max-width: 90vw;
      padding: 24px;
      margin: 15px auto;
      background-color: grey;
      cursor: pointer;
      box-sizing: border-box;
      font-size: 18px;
   }

   footer {
      color: white;
      max-width: 90vw;
      margin: auto;
      padding: 14px 5%;
   }




   .footer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
      padding-top: 10px;
      color: white;

   }

   @media screen and (min-width: 768px) {
      .faqbox {
         max-width: 60vw;
         font-size: 24px;
      }

      .footer {
         grid-template-columns: repeat(4, 1fr);
      }
   }

   .footer a {
      text-decoration: none;
      color: white;
   }

   .footer-item {
      display: flex;
      flex-direction: column;
   }
